<html>
<head><title>Deployment 2</title>
<!--URL: http://stackoverflow.com/questions/10544233/phusion-passenger-not-seeing-environment-variables -->
</head>
<body>
  <h2><b>
   This is deployment 2 with some env vars!<br />
  </b></h2>
  <br /><br />
  <b>
  <%= @envx.each do |item| %>
    <%= item %><br />
  <% end %>
  </b>
</body>
<html>
